<%- include('header') %>

<title>Suppression utilisateur</title>

<%- include('balisesfermetureheadetouverturebody') %>
<%- include('navbar') %>

<h1>Sippression d'un utilisateur</h1>

<%- include('errorOuValidateMessage') %>


<form action = "/delete" method = "POST">
    <input type = "number" name = "id" placeholder = "ID de l'utilisateur à supprimer" required>
    <input type ="text" name = "username" placeholder = "Votre Nom" requiered>
    <button type="submit">SUPPRIMER</button>
    </form>


<%- include('footer') %>
