<%- include('header') %>

<title>Accueil</title>
<pre><%= JSON.stringify(user, null, 2) %></pre>


<%- include('balisesfermetureheadetouverturebody') %>
<%- include('navbar') %>

<h1>Accueil</h1>
<h3>Bienvenue <%= user.username   %> !</h3>



<%- include('errorOuValidateMessage') %>




<%- include('footer') %>
